body{
    color: white;
    background-color: black;
}
h1{
    font-family: 'Press Start 2P', cursive;
}
h2{
    font-family: "Roboto Mono", monospace;
}
p{
    font-family: 'Ubuntu Mono', monospace;
}