@font-face {
    src:url(Riviera.otf);
    font-family: Riviera;
}

body{
    color: white;
    background-color: black;
}
h1{
    font-family: Riviera;
}
p{
    font-family: 'Share Tech Mono', monospace;
    font-size: xx-large;
}
p2{
    font-family: "Roboto Mono" , monospace;
    font-size: xx-large;
}