@import url("https://fonts.googleapis.com/css?family=Press+Start+2P|Roboto+Mono|Ubuntu+Mono&display=swap");

body {
	color: white;
	background-color: black;
}

h1 {
	font-family: "Press Start 2P", cursive, monospace;
}

h2 {
	font-family: "Roboto Mono", monospace;
}

p {
	font-family: "Ubuntu Mono", monospace;
}
