// external
@import url("https://fonts.googleapis.com/css?family=Press+Start+2P|Roboto+Mono|Ubuntu+Mono&display=swap");

// internal
@import "./variables";
@import "./h1";
@import "./h2";
@import "./h3";
@import "./p";
@import "./address";
@import "./a";
html,
body {
	margin: 0;
	padding: 0;
	color: white;
	background-color: black;
	time {
		color: grey;
	}
}
